.home_todo_content{
  width: 80%;
  height: 3rem;
  border: thin inset #eee;
  margin-left: 10%;
  text-align: left;
}
.home_todo_content li{
  width: 80%;
  min-height: 3rem;
  margin: 3%;
  display: none;
}
.checked{
  border-bottom: solid 2px #ff7946;
}
.home{
  font-size: 0.16rem;
}
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

.footer li {
  display: inline-block;
  margin: 0 8%;
}

a {
  color: #42b983;
}
nav{
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background: #e4e3e4;
  font-weight: bold;
  font-size: 0.26rem;
}
ol li{
  text-align: left;
}
.home_index{
	color: red;
}
.footer{
	background: #ccc;
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
}
.blank60{
  height: 0.6rem;
}
.swiper-container {
    width: 100%;
    height: 100%;
    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.home_todo{
  /*margin-left: 10%;*/
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.home_todo li p{
  cursor: pointer;
  /*padding-bottom: 0.1rem;*/
  display: inline-block;
  margin: 0 0 0.1rem 0;
}
.home_todo li div{
  display: none;
  position: relative;
  width: 5rem;
  height: 2rem;
  border: solid 1px;
  padding-left: 3%;
}